.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(images/illustration-devices.svg);
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50vw;
  display: flex;
  flex-direction: row;
}

.bgGray {
  background-color: hsl(207, 33%, 95%);
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border-radius: 0 0 0 50px;
}

@media screen and (max-width: 375px) {
  .App {
    width: 375px;
    background-size: 50%;
    background-position: right;
  }
  .bgGray {
    width: 60px;
    left: 50%;
  }
}